.container { margin: 0 auto; }
.container-1 {width: 10%;}
.container-2 {width: 20%;}
.container-3 {width: 30%;}
.container-4 {width: 40%;}
.container-5 {width: 50%;}
.container-6 {width: 60%;}
.container-7 {width: 70%;}
.container-8 {width: 80%;}
.container-9 {width: 90%;}
.container-1x {width: 100%;}