<div class="container-1x coral flex flex-row" style="margin-top: -1.26%;box-shadow: #0000003d 0px 0px 10px;">
	<div class="container-2 pd-5s flex" style="align-items: center;">
		<h2 class="heading-1xx base-font t-white" style="margin: 10% 0% 5% 5%;">Zellet</h2>
	</div>
	<div class="container-8 flex flex-row flex-center">
		 <div class="container-8 flex fex-center">
		 	<input type="search" class="form-font" name="search" placeholder="Busca lo que quieras encontrar" style="width: 100%;padding: 1%;margin-top: 2%;">
		 </div>
		 <div class="container-2 flex flex-center" style="justify-content: flex-start;margin-left: 2%;margin-top: 1.6%;">
		 	<button type="button" class="btn btn-form">Buscar</button>
		 </div>
	</div>
</div>

		 