.pd-5s {
	padding: 0.5%;
}
.pd-6s {
	padding: 0.6%;
}
.pd-7s {
	padding: 0.7%;
}
.pd-8s {
	padding: 0.8%;
}
.pd-9s {
	padding: 0.9%;
}
.pd-1 {
	padding: 1%;
}
.pd-2 {
	padding: 2%;
}
.pd-3 {
	padding: 3%;
}
.pd-4 {
	padding: 4%;
}
.pd-5 {
	padding: 5%;
}
.pd-6 {
	padding: 6%;
}
.pd-7 {
	padding: 7%;
}
.pd-8 {
	padding: 8%;
}
.pd-9 {
	padding: 9%;
}
.pd-1x {
	padding: 10%;
}
.pd-2x {
	padding: 20%;
}
.pd-3x {
	padding: 30%;
}
.pd-4x {
	padding: 40%;
}
.pd-5x {
	padding: 50%;
}