.grid {
	display: grid;
}
.grid-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 25vh 25vh 25vh 25vh;
	grid-gap: 1em;
}
.item {
	background: #fff;
	width: 100%;
	height: 14em;
	border-radius: 2%;
	box-shadow: #ddd 0px 0px 10px ;
}