html {
	font-size: 20px;
}
.heading-5s {
	font-size: 0.5rem;
}
.heading-6s {
	font-size: 0.6rem;
}
.heading-7s {
	font-size: 0.7rem;
}
.heading-8s {
	font-size: 0.8rem;
}
.heading-9s {
	font-size: 0.9rem;
}
.heading-1 {
	font-size: 1rem;
}
.heading-1x {
	font-size: 1.1rem;
}
.heading-1xx {
	font-size: 1.2rem;
}
.heading-1xxx {
	font-size: 1.3rem;
}
.heading-2 {
	font-size: 2rem;
}
.heading-3 {
	font-size: 3rem;
}
.heading-4 {
	font-size: 4rem;
}
