<aside class="container-2 flex flex-col" ng-controller="dropdownControl" style="width: 100%;">
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a ng-click="drop();"><i class="fas fa-bookmark"></i> Categorías</a>
			</span>
		</div>
		<hr style="border: 0.2px solid #eee;margin: 4% 4% 0% 4%;">
		<!-- DropDown -->
		<div class="dropdown">
			<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!ropa"><i class="fas fa-tshirt"></i> Ropa</a>
			</span>
		</div>
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!electrodomesticos"><i class="fas fa-mobile"></i> Electrodomésticos</a>
			</span>
		</div>
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!otros"><i class="fas fa-paper-plane"></i> Otros</a>
			</span>
		</div>
		</div>
		<!-- /DropDown -->
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!favoritos"><i class="fas fa-heart"></i> Favoritos</a>
			</span>
		</div>
		<hr style="border: 0.2px solid #eee;margin: 4% 4% 0% 4%;">
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!mvendidos"><i class="fas fa-medal"></i> Más vendidos</a>
			</span>
		</div>
		<hr style="border: 0.2px solid #eee;margin: 4% 4% 0% 4%;">
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!ofertas"><i class="fas fa-piggy-bank"></i> Ofertas</a>
			</span>
		</div>
		<hr style="border: 0.2px solid #eee;margin: 4% 4% 0% 4%;">
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!reclamos"><i class="fas fa-bug"></i> Reclamos</a>
			</span>
		</div>
		<hr style="border: 0.2px solid #eee;margin: 4% 4% 0% 4%;">
		<div class="pd-4 flex flex-col flex-start option">
			<span class="form-font t-grey">
				<a href="#!nosotros"><i class="fas fa-child"></i> Nosotros</a>
			</span>
		</div>
	</aside>