.mg-1 {
	margin: 1%;
}
.mg-2 {
	margin: 2%;
}
.mg-3 {
	margin: 3%;
}
.mg-4 {
	margin: 4%;
}
.mg-5 {
	margin: 5%;
}
.mg-6 {
	margin: 6%;
}
.mg-7 {
	margin: 7%;
}
.mg-8 {
	margin: 8%;
}
.mg-9 {
	margin: 9%;
}
.mg-1x {
	margin: 10%;
}