<header class="container" ng-controller="searchControl">
	<app-search info="title"></app-search>
</header>
<main class="container flex flex-row">
	<aside class="container-2">
		
	</aside>
	<section class="container-8 grey" ng-controller="productsControl">
		<div class="mg-4 grid grid-4">
			<article class="item" ng-repeat="product in products">
				<div class="container">
					<!-- Image -->
				</div>
				<hr style="border: 0.2px solid #eee;margin: 4% 2%;">
				<div class="container">
					<!-- Presentation -->
				</div>
			</article>
		</div>
	</section>
</main>

