<footer class="container-1x t-white coral flex flex-row">
		<div class="container flex flex-col" style="width: 33.3%;">
		<ul style="list-style-type: none;">
			<li>
				<span style="font-weight: bolder;" class="base-font">Vendemos de todo en: </span>
			</li>
			<li>
				<i class="fab fa-facebook-square"></i><span class="base-font"> Zellet Official</span>
			</li>
			<li>
				<i class="fab fa-instagram"></i><span class="base-font"> @zellet_of</span>
			</li>
			<li>
				<i class="fab fa-whatsapp"></i><span class="base-font"> +58-416795-2491</span>
			</li>
		</ul>
		</div>
		<div class="container flex flex-col base-font" style="width: 33.3%;justify-content: center;">
			<div class="container flex flex-col">
				<div class="container">
					<span>Powered by: </span>
				</div>
				<div class="container flex flex-row flex-center">
					<img src="assets/media/images/dribbble.svg" alt="dribbble" style="width: 20%; height: 1em;">
				</div>
			</div>
		</div>
		<div class="container flex flex-col" style="width: 33.3%;justify-content: flex-end;align-items: flex-end;margin-right: 2%;margin-bottom: 2%;">
			<span class="base-font t-white">Zellet, Inc.</span>
		</div>
	</footer>